@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:wght@800&family=Inter:wght@700&family=Lora&family=Montserrat:wght@700;800&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');



body {
    font-family: 'Poppins', sans-serif;

}

main {
    margin: 2% 5%;
}

.flex-container {
    display: flex;

}


.flex-container .half-width {
    width: 50%;
}

.details {
    margin-top: 5%;

}

/*------------ TOP BANNER ----------*/
.container-one {
    border-radius: 30px;
    background-position: center;
    background-color: rgb(10, 86, 136);
    background-image: url(images/football.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    padding: 5%;
}

.banner h1 {
    font-size: 3vw;
    font-weight: 800;
    color: rgb(255, 246, 197);
    text-shadow: 2px 2px black;
    margin: 0;

}


.banner-description {
    font-size: 1.5vw;
    font-weight: 200;
    margin-bottom: 10%;
    color: rgb(247, 212, 99);

}

.banner .player {
    position: relative;
    width: 100%;
    transition: transform 0.2s ease-in;
}

.banner .football {

    width: 30%;
    transition: transform 1s ease-out 0.25s;
}


.button-live {
    text-decoration: none;
    font-size: 1.5vw;
    padding: 2% 5%;
    margin: 5% 0;
    border-radius: 10px;
    background-color: green;
    color: aliceblue;
}



.banner:hover .player {

    Transform: rotate(15deg) translate(-8%, 5%);
    Transform-origin: top left;
}

.banner:hover .football {

    Transform: rotate(35deg) translate(-800%, 100%);
    Transform-origin: bottom left;
}

/* NAV */

.nav {
    background-color: rgb(22, 3, 94);
    height: 312px;
    width: 312px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.nav-button {
    color: rgb(78, 78, 78);
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 0px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: rgb(235, 245, 244);
    text-align: center;


}



.current-page {
    background-color: darkgreen;
    color: aliceblue;
}

/* BLOG */

.blogs {
    margin-left: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    font-size: 1vw;
}

.blog {
    background-color: rgb(243, 224, 217);
    border-radius: 2%;
}

.blog img {
    border-radius: 10px;
    width: 100%;
}

.blog-details {
    margin: 20px;
}

.article-button {
    color: rgb(78, 78, 78);
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.article-icons {
    display: flex;
    justify-content: flex-start;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

/* FOOTER*/

footer {
    background-color: darkslategray;
    text-align: center;
    padding: 5% 10%;
    margin: 0;
    color: aliceblue;
}

hr {
    border: 1px solid rgb(83, 94, 94);
    margin: 2% 0px;

}

.labels {
    display: flex;
    justify-content: center;
    align-content: center;
}

.label {
    padding: 2%;
    text-decoration: none;
    color: rgb(184, 182, 182);
    font-weight: 100px;
}

.view-all {
    display: none;
}

/* Matches */

.matches {
    margin-left: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    font-size: 1vw;
    color: darkslategray;
    text-align: center;
}

.match {
    background-color: rgb(206, 255, 255);
    border-radius: 2%;
}

.match img {
    border-radius: 10px;
    width: 100%;
}

.match-details {
    margin: 20px;
}

/* MOBILE VIEW */
@media screen and (max-width:577px) {

    /* TOPBANNER */
    .flex-container {
        justify-content: center;

        flex-direction: column;

    }

    .banner {
        display: flex;
        text-align: center;
        justify-items: center;
        align-items: center;
    }

    .banner-description,
    .button-live {
        font-size: 3vw;

    }

    .half-width {
        width: 100%;
    }

    .half-width img {
        width: 100%;
    }

    /*-------*/
    /* NAVBAR */

    .nav {
        background-color: white;
        padding: 0 1%;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 2vw;
        margin: 0;

    }

    .nav-button {
        padding: 2% 0px;
        border: 0px solid gray;
        margin: 2%;
    }

    /* BLOG */
    .blogs,
    .matches {
        margin: 0;
        margin-bottom: 5%;
        grid-template-columns: repeat(1, 1fr);
        font-size: 3vw;
    }

    /* FOOTER */
    .labels {
        flex-direction: column;

    }

}



/* TABLET VIEW */
@media screen and (min-width:577px) and (max-width:992px) {

    /* TOPBANNER */


    .banner {
        display: flex;
        text-align: left;
        justify-items: center;
        align-items: center;
    }

    .banner-description,
    .button-live {
        font-size: 2vw;

    }

    .half-width {
        width: 100%;
    }

    .half-width img {
        width: 100%;
    }

    /*-------*/
    /* NAVBAR */
    .flex-container.details {
        flex-direction: column;
    }

    .nav {
        background-color: white;
        padding: 0 1%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: center;
        font-size: 2vw;
        height: 100%;
        width: 100%;

    }

    .nav-button {
        padding: 2% 6%;
        border: 0px solid rgb(58, 49, 49);
        margin: 2%;
    }

    /* BLOG */
    .blogs,
    .matches {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        font-size: 2vw;
    }

    /* VIEW ALL  */
    .view-button {
        display: flex;
        justify-content: center;
    }

    .view-all {
        display: block;
        text-decoration: none;
        font-size: 1.5vw;
        padding: 2% 5%;
        margin: 5% 0;
        border-radius: 10px;
        background-color: green;
        color: aliceblue;
    }

    /* FOOTER */
    .labels {
        flex-wrap: wrap;
    }



}


/* @media screen and (max- width:992px) {
    .container {
        Grid-template-column: repeat(2, 1fr);
    }

} */